################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LinkedInJobMatcher/appsettings.Development.json
/.vs
/LinkedInJobMatcher/bin
/LinkedInJobMatcher/obj
*.db
*.db-shm
*.db-wal